


<html>
   <head>

         </head>
            <body>



                 <table border="2"  CELLSPACING="0"  align="center" class="view" BORDERCOLOR="000000">
		            <tr bgcolor="9933FF">
			             <th><b>{{contact.first}} {{contact.last}}</b></th>
			             <th><b>Email</b></th>
			             <th><b>Phone Number </b></th>
		            </tr>
		 
		             <td bgcolor="white"> <a href="#/contacts/{{contact.id}}"><img ng-src="{{contact.imageUrl}}"></a></td>
		             <td width="300">&nbsp;&nbsp;<b>Department:</b> {{contact.department}}<br><br>
		                <b>&nbsp;&nbsp;Office:</b>{{contact.office}}<br><br>
				        <b>&nbsp;&nbsp;Manager:</b>{{contact.manager}}<br>
				        <a href="mailto:{{contact.first+'.'+contact.last+'@lambtoncollege.ca'}}">
				        <img src="./img/image.png" width="75" height="75"><br> Email {{contact.first}}</a>
		             </td>
		             </td>
		            <td style="vertical-align:top;" class="td"><br>
		            &nbsp;&nbsp;{{'519-542-7751 ext.'+contact.extension}}
		            &nbsp;&nbsp;</td>
                 </table>
        <style> 
            .view {
			width:750px;
			margin-top:8em;
            background-color: #FFCCFF;
                    }
           
             </style>
            </body>
</html>

  